.list-cell, .table-row-cell {
  -fx-background-color: white;
}

.sidebar .list-cell {
  -fx-padding: 8px;
}

.list-cell:selected, .table-row-cell:selected {
  -fx-background-color: #0096C9;
  -fx-text-fill: white;
}